.container{
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin: 30px auto;
  border: 5px solid #000;
  .wrap{
    display: flex;
    width: 1200px;
    height: 300px;
    div{
      width: 300px;
      height: 300px;
      &:nth-child(1){
        background: green;
      }
      &:nth-child(2){
        background: yellow;
      }
      &:nth-child(3){
        background: red;
      }
      &:nth-child(4){
        background: blue;
      }
    }
  }
}

.scrollbar{
  width: 300px;
  height: 30px;
  margin: 50px auto;
  background: #CCC;
  .scrollbtn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: greenyellow;
    cursor: pointer;
  }
}

.container2{
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin: 30px auto;
  cursor: grab;
  &:active{
    cursor: grabbing;
  } /* 프레스하는 동안 */
  .wrap2{
    display: flex;
    width: 1200px;
    height: 300px;
    div{
      width: 300px;
      height: 300px;
      &:nth-child(1){
        background: green;
      }
      &:nth-child(2){
        background: yellow;
      }
      &:nth-child(3){
        background: red;
      }
      &:nth-child(4){
        background: blue;
      }
    }
  }
}

.scrollbar2{
  width: 300px;
  height: 30px;
  margin: 50px auto;
  background: #CCC;
  .scrollbtn2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: greenyellow;
    cursor: pointer;
  }
}

.container3{
  overflow: hidden;
  width: min(90%, 500px);
  height: 300px;
  margin: 30px auto;
  cursor: grab;
  &:active{
    cursor: grabbing;
  } /* 프레스하는 동안 */
  .wrap3{
    display: flex;
    width: 400% !important; 
    /* %로 주면 ui가 자동으로 바뀐다, 그래서 강제로 important를 해야 한다 */
    height: 300px;
    div{
      width: 25%;
      height: 300px;
      &:nth-child(1){
        background: green;
      }
      &:nth-child(2){
        background: yellow;
      }
      &:nth-child(3){
        background: red;
      }
      &:nth-child(4){
        background: blue;
      }
    }
  }
}

.scrollbar3{
  width: min(80%, 300px);
  height: 30px;
  margin: 50px auto;
  background: #CCC;
  .scrollbtn3{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: greenyellow;
    cursor: pointer;
  }
}

